.card .text {
    color: white;
    padding-top: 5px;
    text-transform: uppercase;
}

.card .image {
    height: 200px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }
}

.card img {
    display: block;
    width: 100%;
}