@use 'vars' as *;

.container.comicbook-info {
    position: relative;
    padding-top: 100px;
}

.comicbook-info .tag {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0, -70%);
}

figure {
    margin: 0;
}
.comicbook-info .wrapper {
    display: flex;
    .product-container {
        flex-basis: 70%;
    }
}
.comicbook-info .adv {
    flex-basis: 30%;
}
.comicbook-info .tag img {
    width: 150px;
}
.comicbook-info .availability {
    display: flex;
}
// Details 
.comicbook-info .details {
    display: flex;
    margin: 0 -50px;
    & > * {
        width: 50%;
        margin: 0 50px;
    }
}
.comicbook-info .talent > *,
.comicbook-info .specs > * {
    border-bottom: 1px solid #666;
    padding: 20px 0;
}
// Talent 
.comicbook-info .art {
    display: flex;
    
}
.title {
    min-width: 30%;
}