@use 'vars' as *;

.container.comicbook {
    position: relative;
}

.comicbook span {
    color: white;
    font-size: 2rem;
    margin: 0;
    background-color: $blue;
    padding: 5px 10px;
}

.comicbook .tag {
    position: absolute;
    top: -50px;
    left: 0px;
    transform: translate(0, -50%);
}


.comicbook .card-container {
    margin: 50px -10px 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.comicbook ul {
    display: flex;
    flex-wrap: wrap;
}
.delete-btn-container {
    position: relative;
}
.delete-btn {
position: absolute;
top: 0;
right: 0;
}