@use 'vars' as *;

.bgc {
    background-color: white;
}
.bgc-details {
    background-color: #e9e9e9;
}

.container.comicbook-info {
    position: relative;
    padding-top: 100px;
    color: black;
}

.comicbook-info .tag {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0, -70%);
}

figure {
    margin: 0;
}
.comicbook-info .wrapper {
    display: flex;
    .product-container {
        flex-basis: 70%;
    }
}
.comicbook-info .adv {
    flex-basis: 30%;
}
.comicbook-info .tag img {
    width: 150px;
}
.comicbook-info .availability {
    display: flex;
}
// Details 
.details {
    display: flex;
    margin: 0 -50px;
    padding-bottom: 50px;
    & > * {
        width: 50%;
        margin: 0 50px;
    }
}
.talent > *,
.specs > * {
    border-bottom: 1px solid #666;
    padding: 20px 0;
}
// Talent 
.art {
    display: flex;
    
}
.title {
    min-width: 30%;
}


// Change page arrows 
.arrow-right,
.arrow-left {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
}

.arrow-right {
    right: -100px;
}
.arrow-left {
    left: -100px;
}