@use 'vars' as *;

#background {
    background: no-repeat 80% 50% /500px url(../images/dc-logo-bg.png), no-repeat center / 2000px url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
}

#background .list-container {
    padding: 40px 0;
    display: flex;
}

#background h2 {
    color: white;
    margin: 0;
}

#background a {
    color: #7c7c7c;
    font-size: 0.8rem;

    &:hover {
        color: $blue;
    }
}

#background .list-item {
    margin-right: 50px;
}