@use 'vars' as *;
@use 'mixins' as *;

.footer_social {
    background-color: $gray;
    height: 120px;
}

.footer_social ul {
    @include flex;
}

.footer_social div {
    @include flex(flex-start, center);
    height: 100%;

}

.footer_social span {
    color: $blue;
    margin-right: 20px;
    font-weight: 600;
}

.footer_social button {
    background-color: inherit;
    border: 2px solid $blue;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}

.footer_social .container {
    @include flex(space-between, center);
    height: 100%;
    
}

.footer_social img {
    margin-right: 10px;
    border-radius: 50%;
    &:hover {
        background-color: $blue;
    }
}