// Reset 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1c1c1c;
  font-family: 'Raleway', sans-serif;
}
  
.container {
  width: 1200px;
  margin: 0 auto;
}
    
a {
  text-decoration: none;
}
    
li {
  list-style-type: none;
}
    
ul {
  padding: 0;
}

h2 {
  margin: 0;
}