@use 'vars' as *;

header nav {
    height: 100px;
    background-color: cadetblue;

}

header #navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
}

header .links {
    height: 100%;
}
header img {
    height: 80px;
}

header ul {
    height: 100%;
    margin: 0;
    display: flex;
}

header li {
    padding: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;


}

header li a {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        color: $blue;
        border-bottom: 2px solid $blue;
    }
}
