@use 'vars' as *;

nav {
    height: 100px;
    background-color: white;

}

#navbar {
    justify-content: space-between;
}

div {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    height: 80px;
}

ul {
    height: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    height: 100%;


}

a {
    color: black;
    height: 98%;
    display: flex;
    align-items: center;

    &:hover {
        color: $blue;
        border-bottom: 2px solid $blue;
    }
}

ul {
    display: flex;
}