@use 'vars' as *;
@use 'mixins' as *;


.container {
    height: 100%;
    position: relative;
}

.jumbotron {
    height: 400px;
    @include flex(flex-start, center);
    background: no-repeat url(../images/jumbotron.jpg);
}